# données fictives

In [14]:
import pandas as pd
import numpy as np
from pandas.tseries.offsets import MonthEnd

# DataFrame initial avec 10 entrées
data = pd.DataFrame({
    'client_id': range(1, 11),
    'age': [25, 34, 45, 28, 42, 37, 29, 31, 39, 48],
    'income': [30000, 45000, 54000, 32000, 58000, 47000, 31000, 43000, 56000, 64000],
    'debt_to_income': [0.2, 0.3, 0.15, 0.25, 0.28, 0.18, 0.22, 0.29, 0.21, 0.17],
    'previous_default': [0, 1, 0, 1, 0, 0, 1, 0, 0, 1],
    'employment_length': [2, 5, 10, 3, 8, 6, 4, 9, 7, 11]
})

# Génération de dates pour les 10 premières lignes
data['collection_date'] = pd.date_range(start='2021-01-01', periods=len(data), freq='M')

# Génération de 100 nouvelles lignes pour new_rows
new_rows = pd.DataFrame({
    'client_id': range(11, 111),  # IDs clients de 11 à 110
    'age': np.random.randint(20, 60, size=100),
    'income': np.random.uniform(20000, 70000, size=100),
    'debt_to_income': np.random.uniform(0.1, 0.3, size=100),
    'previous_default': np.random.choice([0, 1], size=100),
    'employment_length': np.random.randint(0, 15, size=100)
})

# Assignation des dates répétées à new_rows avec la logique déjà expliquée
start_date = '2022-01-01'
end_date = '2023-12-31'
start = pd.Timestamp(start_date)
end = pd.Timestamp(end_date) + MonthEnd(1)
periods = (end.year - start.year) * 12 + end.month - start.month + 1
date_sequence = pd.date_range(start=start_date, periods=periods, freq='M')
repeated_dates = np.tile(date_sequence, int(np.ceil(len(new_rows) / periods)))[:len(new_rows)]
new_rows['collection_date'] = repeated_dates

# Concaténation de data et new_rows pour former new_data
new_data = pd.concat([data, new_rows], ignore_index=True)

# Affichage des informations de new_data pour confirmer le nombre d'entrées
print(new_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   client_id          110 non-null    int64
 1   age                110 non-null    int64
 2   income             110 non-null    float64
 3   debt_to_income     110 non-null    float64
 4   previous_default   110 non-null    int64
 5   employment_length  110 non-null    int64
 6   collection_date    110 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4)
memory usage: 6.1 KB
None

In [15]:
# Set display options
pd.set_option('display.max_columns', None)  
pd.set_option('display.max_rows', None) 
pd.set_option('max_colwidth', 100)

In [16]:
new_data

,client_id,age,income,debt_to_income,previous_default,employment_length,collection_date
0,1,25,30000.000000,0.200000,0,2,2021-01-31
1,2,34,45000.000000,0.300000,1,5,2021-02-28
2,3,45,54000.000000,0.150000,0,10,2021-03-31
3,4,28,32000.000000,0.250000,1,3,2021-04-30
4,5,42,58000.000000,0.280000,0,8,2021-05-31
5,6,37,47000.000000,0.180000,0,6,2021-06-30
6,7,29,31000.000000,0.220000,1,4,2021-07-31
7,8,31,43000.000000,0.290000,0,9,2021-08-31
8,9,39,56000.000000,0.210000,0,7,2021-09-30
9,10,48,64000.000000,0.170000,1,11,2021-10-31
10,11,20,50221.547240,0.239917,1,0,2022-01-31
11,12,25,62930.322851,0.102276,0,4,2022-02-28
12,13,35,31300.930924,0.147180,1,6,2022-03-31
13,14,20,27449.422883,0.191625,0,1,2022-04-30
14,15,49,25558.277297,0.155365,1,0,2022-05-31
15,16,47,50151.395945,0.177788,1,3,2022-06-30
16,17,56,35226.019869,0.284443,1,0,2022-07-31
17,18,45,33761.520241,0.162938,0,4,2022-08-31
18,19,36,21845.991879,0.155568,1,13,2022-09-30
19,20,45,55775.785967,0.296637,0,3,2022-10-31
20,21,38,51503.455141,0.133455,1,7,2022-11-30
21,22,55,34977.910422,0.209801,1,6,2022-12-31
22,23,48,28173.793998,0.273292,0,13,2023-01-31
23,24,38,52271.204999,0.273799,1,14,2023-02-28
24,25,51,54007.408993,0.206258,1,1,2023-03-31
25,26,57,44611.683080,0.288420,0,6,2023-04-30
26,27,46,28744.494520,0.174008,0,12,2023-05-31
27,28,57,25003.943640,0.142700,1,14,2023-06-30
28,29,48,63550.472210,0.118723,0,7,2023-07-31
29,30,46,53054.255668,0.130196,0,10,2023-08-31
30,31,33,21138.878894,0.250979,0,7,2023-09-30
31,32,58,23775.161031,0.123303,1,12,2023-10-31
32,33,47,36367.936614,0.227968,0,14,2023-11-30
33,34,44,23583.166298,0.116530,0,4,2023-12-31
34,35,53,52087.324799,0.144813,1,7,2024-01-31
35,36,41,61004.957889,0.284781,0,14,2022-01-31
36,37,38,51363.126695,0.118170,0,7,2022-02-28
37,38,24,26419.062457,0.127285,0,14,2022-03-31
38,39,39,60427.266398,0.188901,1,11,2022-04-30
39,40,39,24229.716076,0.230159,1,8,2022-05-31
40,41,51,42572.330612,0.280692,0,1,2022-06-30
41,42,28,40547.867027,0.260981,0,9,2022-07-31
42,43,36,61530.840982,0.152049,1,4,2022-08-31
43,44,32,51402.179433,0.158178,1,10,2022-09-30
44,45,50,24603.926066,0.228945,1,10,2022-10-31
45,46,25,48557.459364,0.191874,1,7,2022-11-30
46,47,29,41862.233166,0.250198,0,4,2022-12-31
47,48,49,62965.574440,0.205477,0,14,2023-01-31
48,49,54,53755.263513,0.255354,1,9,2023-02-28
49,50,57,24616.489467,0.164564,1,3,2023-03-31
50,51,51,68760.467400,0.170347,0,6,2023-04-30
51,52,54,64281.003262,0.240154,0,11,2023-05-31
52,53,41,23243.583347,0.180270,0,2,2023-06-30
53,54,43,53236.286924,0.296754,0,9,2023-07-31
54,55,47,46131.351323,0.134159,0,0,2023-08-31
55,56,36,42977.924576,0.167222,0,7,2023-09-30
56,57,52,30755.457800,0.114562,1,0,2023-10-31
57,58,23,51533.018813,0.151918,0,7,2023-11-30
58,59,38,62588.195290,0.185193,0,13,2023-12-31
59,60,48,65691.886973,0.225805,1,0,2024-01-31
60,61,42,44987.930828,0.143807,0,12,2022-01-31
61,62,49,45956.981530,0.106011,1,5,2022-02-28
62,63,56,56893.323491,0.128521,1,4,2022-03-31
63,64,54,28429.974967,0.235536,0,1,2022-04-30
64,65,40,33689.072805,0.228057,0,14,2022-05-31
65,66,25,44999.557688,0.275071,1,10,2022-06-30
66,67,27,67735.431978,0.128034,0,12,2022-07-31
67,68,21,30720.427078,0.293103,0,8,2022-08-31
68,69,35,30133.928342,0.134289,0,10,2022-09-30
69,70,53,23375.237730,0.203529,1,13,2022-10-31
70,71,38,38777.615970,0.223976,1,3,2022-11-30
71,72,52,54081.259818,0.196952,0,0,2022-12-31
72,73,59,47481.956879,0.266890,0,7,2023-01-31
73,74,40,65965.760628,0.239919,0,5,2023-02-28
74,75,49,62513.262357,0.123207,1,8,2023-03-31
75,76,53,53905.579907,0.210247,0,12,2023-04-30
76,77,39,38645.049442,0.144911,1,9,2023-05-31
77,78,50,62934.299121,0.210476,1,6,2023-06-30
78,79,28,57885.971169,0.201761,0,2,2023-07-31
79,80,28,62602.885856,0.117062,0,8,2023-08-31
80,81,30,44678.037707,0.297579,1,8,2023-09-30
81,82,24,39923.165799,0.151304,0,7,2023-10-31
82,83,48,44562.279945,0.256325,1,7,2023-11-30
83,84,58,29253.440446,0.164678,0,13,2023-12-31
84,85,36,52797.629414,0.129010,1,8,2024-01-31
85,86,47,34506.342529,0.149501,1,11,2022-01-31
86,87,28,23893.949554,0.298284,0,2,2022-02-28
87,88,39,29938.635392,0.114464,1,10,2022-03-31
88,89,21,67335.679085,0.121020,0,4,2022-04-30
89,90,44,42492.089625,0.168512,1,9,2022-05-31
90,91,27,46660.549738,0.226355,0,3,2022-06-30
91,92,39,40844.271583,0.187443,1,6,2022-07-31
92,93,55,32288.523732,0.211423,1,11,2022-08-31
93,94,54,32779.680282,0.281459,0,10,2022-09-30
94,95,34,61133.419814,0.158191,1,2,2022-10-31
95,96,39,66903.932649,0.232897,0,14,2022-11-30
96,97,39,27618.986104,0.162285,1,8,2022-12-31
97,98,27,67166.612109,0.260941,1,3,2023-01-31
98,99,36,30378.164370,0.229019,0,5,2023-02-28
99,100,40,21810.441841,0.183370,0,10,2023-03-31
100,101,36,26583.581110,0.193756,0,11,2023-04-30
101,102,49,69465.315836,0.111242,0,1,2023-05-31
102,103,53,20559.932719,0.231000,1,3,2023-06-30
103,104,33,61987.368720,0.282922,0,8,2023-07-31
104,105,26,40014.592380,0.115392,1,3,2023-08-31
105,106,29,22239.836283,0.155449,0,0,2023-09-30
106,107,53,27117.029769,0.106737,0,9,2023-10-31
107,108,57,32301.594382,0.285768,0,10,2023-11-30
108,109,44,42137.561998,0.168451,0,4,2023-12-31
109,110,37,67157.493710,0.176890,1,13,2024-01-31

In [ ]:
-----------

In [4]:
import pandas as pd
import numpy as np

# Création d'un DataFrame initial
data = pd.DataFrame({
    'client_id': range(1, 11),
    'age': [25, 34, 45, 28, 42, 37, 29, 31, 39, 48],
    'income': [30000, 45000, 54000, 32000, 58000, 47000, 31000, 43000, 56000, 64000],
    'debt_to_income': [0.2, 0.3, 0.15, 0.25, 0.28, 0.18, 0.22, 0.29, 0.21, 0.17],
    'previous_default': [0, 1, 0, 1, 0, 0, 1, 0, 0, 1],
    'employment_length': [2, 5, 10, 3, 8, 6, 4, 9, 7, 11]
})

# Préparation des nouvelles lignes
new_rows = pd.DataFrame({
    'client_id': range(11, 111),  # Continuation des ID clients
    'age': np.random.randint(20, 60, size=100),
    'income': np.random.uniform(20000, 70000, size=100),
    'debt_to_income': np.random.uniform(0.1, 0.3, size=100),
    'previous_default': np.random.choice([0, 1], size=100),
    'employment_length': np.random.randint(0, 15, size=100)
})

# Calcul précis du nombre de périodes jusqu'à décembre 2023
start_date = '2022-01-01'
end_date = '2023-12-31'

# Calcul du nombre de périodes
periods = pd.date_range(start=start_date, end=end_date, freq='M').shape[0]

# Répétition des dates pour couvrir toutes les lignes
date_sequence = pd.date_range(start=start_date, periods=periods, freq='M')
repeated_dates = np.tile(date_sequence, int(np.ceil(len(new_rows) / periods)))[:len(new_rows)]

# Assignation des dates répétées à new_rows
new_rows['collection_date'] = repeated_dates

# Étape 3: Ajout de la colonne de date
new_rows['collection_date'] = pd.date_range(start='2022-01-01', periods=100, freq='M')

# Étape 4: Concaténation avec le DataFrame existant
new_data = pd.concat([new_data, new_rows], ignore_index=True)

new_data

,client_id,age,income,debt_to_income,previous_default,employment_length,collection_date
0,1,25,30000.000000,0.200000,0,2,NaT
1,2,34,45000.000000,0.300000,1,5,NaT
2,3,45,54000.000000,0.150000,0,10,NaT
3,4,28,32000.000000,0.250000,1,3,NaT
4,5,42,58000.000000,0.280000,0,8,NaT
...,...,...,...,...,...,...,...
105,106,25,52426.037788,0.259687,0,4,2029-12-31
106,107,36,44549.063699,0.283034,1,0,2030-01-31
107,108,53,33827.120982,0.133246,1,2,2030-02-28
108,109,34,57202.954885,0.160627,1,1,2030-03-31
109,110,37,51663.474406,0.197574,1,8,2030-04-30

In [2]:
import pandas as pd
import numpy as np
from pandas.tseries.offsets import MonthEnd

# Création d'un DataFrame initial
data = pd.DataFrame({
    'client_id': range(1, 11),
    'age': [25, 34, 45, 28, 42, 37, 29, 31, 39, 48],
    'income': [30000, 45000, 54000, 32000, 58000, 47000, 31000, 43000, 56000, 64000],
    'debt_to_income': [0.2, 0.3, 0.15, 0.25, 0.28, 0.18, 0.22, 0.29, 0.21, 0.17],
    'previous_default': [0, 1, 0, 1, 0, 0, 1, 0, 0, 1],
    'employment_length': [2, 5, 10, 3, 8, 6, 4, 9, 7, 11]
})

# Préparation des nouvelles lignes
new_rows = pd.DataFrame({
    'client_id': range(11, 111),  # Continuation des ID clients
    'age': np.random.randint(20, 60, size=100),
    'income': np.random.uniform(20000, 70000, size=100),
    'debt_to_income': np.random.uniform(0.1, 0.3, size=100),
    'previous_default': np.random.choice([0, 1], size=100),
    'employment_length': np.random.randint(0, 15, size=100)
})

# Définition de la date de début et de fin
start_date = '2022-01-01'
end_date = '2023-12-31'

# Calcul du nombre de mois entre les deux dates
start = pd.Timestamp(start_date)
end = pd.Timestamp(end_date) + MonthEnd(1)  # Ajoute un mois pour inclure la fin du dernier mois
periods = (end.year - start.year) * 12 + end.month - start.month + 1

# Répétition des dates pour couvrir toutes les lignes
date_sequence = pd.date_range(start=start_date, periods=periods, freq='M')
repeated_dates = np.tile(date_sequence, int(np.ceil(len(new_rows) / periods)))[:len(new_rows)]

# Assignation des dates répétées à new_rows
new_rows['collection_date'] = repeated_dates

new_data = data.copy()

# Le reste du traitement pour `new_data` peut être ajouté ici si nécessaire

In [3]:
new_data

   client_id  age  income  debt_to_income  previous_default  employment_length
0          1   25   30000            0.20                 0                  2
1          2   34   45000            0.30                 1                  5
2          3   45   54000            0.15                 0                 10
3          4   28   32000            0.25                 1                  3
4          5   42   58000            0.28                 0                  8
5          6   37   47000            0.18                 0                  6
6          7   29   31000            0.22                 1                  4
7          8   31   43000            0.29                 0                  9
8          9   39   56000            0.21                 0                  7
9         10   48   64000            0.17                 1                 11

In [1]:
import pandas as pd
import numpy as np
from pandas.tseries.offsets import MonthEnd

data = pd.DataFrame({
    'client_id': range(1, 11),
    'age': [25, 34, 45, 28, 42, 37, 29, 31, 39, 48],
    'income': [30000, 45000, 54000, 32000, 58000, 47000, 31000, 43000, 56000, 64000],
    'debt_to_income': [0.2, 0.3, 0.15, 0.25, 0.28, 0.18, 0.22, 0.29, 0.21, 0.17],
    'previous_default': [0, 1, 0, 1, 0, 0, 1, 0, 0, 1],
    'employment_length': [2, 5, 10, 3, 8, 6, 4, 9, 7, 11]
})


new_rows = pd.DataFrame({
    'client_id': range(11, 111),  # Continuation des ID clients
    'age': np.random.randint(20, 60, size=100),  # Générer aléatoirement des âges entre 20 et 60
    'income': np.random.uniform(20000, 70000, size=100),  # Revenus entre 20 000 et 70 000
    'debt_to_income': np.random.uniform(0.1, 0.3, size=100),  # Ratio dette/revenu entre 0.1 et 0.3
    'previous_default': np.random.choice([0, 1], size=100),  # Choix aléatoire entre 0 et 1 pour défaut précédent
    'employment_length': np.random.randint(0, 15, size=100)  # Longueur d'emploi entre 0 et 15 ans
})

# Calcul précis du nombre de périodes jusqu'à décembre 2023
start_date = '2022-01-01'
end_date = '2023-12-31'

# Calcul du nombre de périodes
periods = pd.date_range(start=start_date, end=end_date, freq='M').shape[0]

# Répétition des dates pour couvrir toutes les lignes
date_sequence = pd.date_range(start=start_date, periods=periods, freq='M')
repeated_dates = np.tile(date_sequence, int(np.ceil(len(new_rows) / periods)))[:len(new_rows)]


# Définition de la date de début et de fin
start_date = '2022-01-01'
end_date = '2023-12-31'

# Calcul du nombre de mois entre les deux dates
start = pd.Timestamp(start_date)
end = pd.Timestamp(end_date) + MonthEnd(1) # Ajoute un mois pour inclure la fin du dernier mois
periods = (end.year - start.year) * 12 + end.month - start.month + 1

# Génération de la colonne de date avec le bon nombre de périodes
new_rows['collection_date'] = pd.date_range(start=start_date, periods=periods, freq='M')
new_data = data.copy()

new_data

ValueError: Length of values (25) does not match length of index (100)

In [ ]:
pip install evidently

In [ ]:
pip install --upgrade evidently

In [ ]:
from evidently import Dashboard
from evidently.tabs import DataDriftTab

In [ ]:
pip show evidently

In [ ]:
pip install --upgrade evidently

In [ ]:
pip install evidently pandas scikit-learn streamlit

In [ ]:
data

In [ ]:
import pandas as pd
import numpy as np

# Étape 1: Déjà couverte par votre code initial

# Étape 2: Génération de 100 nouvelles lignes
new_rows = pd.DataFrame({
    'client_id': range(11, 111),  # Continuation des ID clients
    'age': np.random.randint(20, 60, size=100),  # Générer aléatoirement des âges entre 20 et 60
    'income': np.random.uniform(20000, 70000, size=100),  # Revenus entre 20 000 et 70 000
    'debt_to_income': np.random.uniform(0.1, 0.3, size=100),  # Ratio dette/revenu entre 0.1 et 0.3
    'previous_default': np.random.choice([0, 1], size=100),  # Choix aléatoire entre 0 et 1 pour défaut précédent
    'employment_length': np.random.randint(0, 15, size=100)  # Longueur d'emploi entre 0 et 15 ans
})

# Étape 3: Ajout de la colonne de date
new_rows['collection_date'] = pd.date_range(start='2022-01-01', periods=100, freq='M')

# Étape 4: Concaténation avec le DataFrame existant
new_data = pd.concat([new_data, new_rows], ignore_index=True)

In [ ]:
data

# Datadrift

In [ ]:
from evidently.model_profile import Profile
from evidently.model_profile.sections import DataDriftProfileSection

In [ ]:
# Modification de `new_data` pour simuler le Data Drift
# Par exemple, augmentation du revenu et modification du ratio dette/revenu
new_data['income'] *= np.random.uniform(1.05, 1.2, size=len(new_data))
new_data['debt_to_income'] *= np.random.uniform(0.9, 1.1, size=len(new_data))

# Ajout d'une colonne de date pour simuler des données recueillies à différents moments
data['collection_date'] = pd.date_range(start='2021-01-01', periods=len(data), freq='M')
new_data['collection_date'] = pd.date_range(start='2021-12-01', periods=len(new_data), freq='M')

# Étape 3: Ajout de la colonne de date
new_rows['collection_date'] = pd.date_range(start='2022-01-01', periods=100, freq='M')

# Étape 4: Concaténation avec le DataFrame existant
new_data = pd.concat([new_data, new_rows], ignore_index=True)

# definition colonne cible

In [ ]:
# Ajout d' une colonne cible basée sur des critères fictifs

# Critères fictifs pour l'octroi de crédit :
# Un crédit est accordé si :
# - le ratio dette/revenu est inférieur à 0.3
# - et le client n'a pas de défaut antérieur
# - et l'emploi est stable (plus de 3 ans)


# Création de la colonne 'credit_approved' basée sur des critères fictifs
# Par exemple, supposons que le crédit est approuvé si l'individu a un revenu > 40000, 
# un ratio dette/revenu < 0.3, et plus de 3 ans d'emploi
data['credit_approved'] = np.where(
    (data['income'] > 40000) & 
    (data['debt_to_income'] < 0.3) & 
    (data['employment_length'] > 3),
    1,  # Valeur si la condition est vraie
    0   # Valeur si la condition est fausse
)

In [ ]:
data

In [ ]:
# Seuil de décision pour l'octroi de crédit
SEUIL_SCORE = 600

# Décision d'octroi de crédit basée sur le score
data['credit_approved'] = np.where(data['credit_score'] >= SEUIL_SCORE, 'Yes', 'No')

In [ ]:
data

In [ ]:
# Affichage des coefficients
feature_names = X.columns
coefficients = pd.DataFrame(model.coef_[0], index=feature_names, columns=['Coefficient']).sort_values(by='Coefficient', ascending=False)

print(coefficients)

# Scoring

In [ ]:
# Exemple simple de calcul de score
# Cet exemple attribue des points basés sur les critères, plus le score est élevé, meilleure est la santé financière

data['credit_score'] = (data['income'] / 10000) + \
                       (np.where(data['debt_to_income'] < 0.3, 1, 0)) + \
                       (np.where(data['previous_default'] == 0, 1, 0)) + \
                       (data['employment_length'] / 2)
                       
# Normalisation du score pour qu'il soit dans une échelle spécifique, par exemple 0 à 800
data['credit_score'] = np.interp(data['credit_score'], (data['credit_score'].min(), data['credit_score'].max()), (300, 800))

In [ ]:
data

# pénaliser les FP

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_recall_curve
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_recall_curve

In [ ]:
probabilities = model.predict_proba(X_test)[:, 1]  # Obtenir les probabilités de la classe positive
threshold = 0.4  # Abaissez le seuil pour être plus strict sur l'octroi de crédit
predictions = np.where(probabilities > threshold, 1, 0)  # 1 pour octroi de crédit, 0 pour non-octroi

Dans cet exemple, le seuil est ajusté pour assurer une précision élevée, ce qui signifie minimiser les FP à un niveau que vous jugez acceptable, même si cela peut augmenter les FN. Cela montre l'équilibre nécessaire entre la minimisation des FP et la gestion des FN dans un contexte d'octroi de crédit.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = LogisticRegression()  # Définition du modèle
model.fit(X_train, y_train)  # Entraînement du modèle


# Obtenir les probabilités des prédictions positives
probabilities = model.predict_proba(X_test)[:, 1]

# Calculer la précision et le rappel pour différents seuils
precisions, recalls, thresholds = precision_recall_curve(y_test, probabilities)

# Trouver le seuil qui correspond à votre critère (par exemple, maximiser la précision)
# Note : Ceci est un exemple simplifié. Dans la pratique, vous voudriez équilibrer précision et rappel
idx = np.argmax(precisions >= 0.90)  # Exemple : Seuil où la précision est au moins 90%
threshold_optimal = thresholds[idx]

# Appliquer ce seuil pour les décisions
predictions_optimales = np.where(probabilities >= threshold_optimal, 1, 0)

In [ ]:
# Séparation en features et target 
X = data[['age', 'income', 'debt_to_income', 'previous_default', 'employment_length']]
y = ...  # variable cible

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Entraînement du modèle
model = LogisticRegression()
model.fit(X_train, y_train)

# exportation Steamlip et preparation de l'api

In [ ]:
import joblib

# Enregistrement du modèle
joblib.dump(model, 'credit_scoring_model.pkl')

# EDA

In [ ]:
data.head()

In [ ]:
# Statistiques descriptives
display(data.describe())

# Corrélations
display(data.corr())

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Distribution de chaque caractéristique
for column in data.columns:
    plt.figure()
    sns.histplot(data[column], kde=True)
    plt.title(column)

# Matrice de corrélation
plt.figure(figsize=(10, 8))
sns.heatmap(data.corr(), annot=True, fmt=".2f")
plt.show()

## prétraitement

In [ ]:
# Sélection d'un échantillon pour accélérer les itérations
data_sample = data.sample(frac=0.1, random_state=42)

# Nettoyage des données (exemple simplifié)
data_sample.fillna(data_sample.mean(), inplace=True)

# Séparation des caractéristiques et de la cible
X = data_sample.drop('credit_approved', axis=1)
y = data_sample['credit_approved']

# Construction du Modèle avec Régression Logistique

## travailler sur un échantillon

In [ ]:
data_sample = data.sample(frac=0.9, random_state=42)  # Prend 10% des données de manière aléatoire

X_sample = data_sample.drop(['client_id', 'credit_approved'], axis=1)
y_sample = data_sample['credit_approved']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score

# Séparation en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Entraînement du modèle
model = LogisticRegression()
model.fit(X_train, y_train)

# Évaluation du modèle
predictions = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, predictions))

# Création et entraînement du modèle
model = LogisticRegression()
model.fit(X_train, y_train)

# Prédiction sur l'ensemble de test
predictions = model.predict(X_test)

# Évaluation du modèle
print(classification_report(y_test, predictions))
print(confusion_matrix(y_test, predictions))

from skopt import BayesSearchCV
from skopt.space import Real, Categorical, Integer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# Exemple de définition de l'espace de recherche
search_spaces = {
    'C': Real(1e-6, 1e+6, prior='log-uniform'),
    'penalty': Categorical(['l2', 'none']),
}

# Instanciation et utilisation de BayesSearchCV
model = LogisticRegression(solver='lbfgs', max_iter=1000)
bayes_search = BayesSearchCV(model, search_spaces, n_iter=32, cv=5, n_jobs=-1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
bayes_search.fit(X_train, y_train)

# Importance des Caractéristiques

Le déséquilibre entre le nombre de bons et de moins bons clients doit être pris en compte pour élaborer un modèle pertinent, à l’aide d’au moins une méthode au choix
Le déséquilibre du coût métier entre un faux négatif (FN - mauvais client prédit bon client : donc crédit accordé et perte en capital) et un faux positif (FP - bon client prédit mauvais : donc refus crédit et manque à gagner en marge)
Vous pourrez supposer, par exemple, que le coût d’un FN est dix fois supérieur au coût d’un FP
Vous créerez un score “métier” (minimisation du coût d’erreur de prédiction des FN et FP) pour comparer les modèles, afin de choisir le meilleur modèle et ses meilleurs hyperparamètres. Attention cette minimisation du coût métier doit passer par l’optimisation du seuil qui détermine, à partir d’une probabilité, la classe 0 ou 1 (un “predict” suppose un seuil à 0.5 qui n’est pas forcément l’optimum)
En parallèle, maintenez pour comparaison et contrôle des mesures plus techniques, telles que l’AUC et l’accuracy

In [ ]:
'importance relative des différentes caractéristiques dans la prédiction de votre modèle :

In [ ]:
feature_importance = pd.DataFrame(model.coef_[0], index=X_train.columns, columns=['Importance']).abs().sort_values(by='Importance', ascending=False)
print(feature_importance)

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

In [ ]:
# Supposons que vous avez un DataFrame nommé X pour vos caractéristiques et que les colonnes ont des noms
feature_names = X.columns

# Obtention des coefficients
coefficients = model.coef_[0]

# Création d'un DataFrame pour une meilleure visualisation
import pandas as pd

feature_importance = pd.DataFrame(coefficients, index=feature_names, columns=['Coefficient']).sort_values(by='Coefficient', ascending=False)

print(feature_importance)

In [ ]:
----

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, make_scorer
import matplotlib.pyplot as plt
import numpy as np

# Création du DataFrame
data = pd.DataFrame({
    'client_id': range(1, 11),
    'age': [25, 34, 45, 28, 42, 37, 29, 31, 39, 48],
    'income': [30000, 45000, 54000, 32000, 58000, 47000, 31000, 43000, 56000, 64000],
    'debt_to_income': [0.2, 0.3, 0.15, 0.25, 0.28, 0.18, 0.22, 0.29, 0.21, 0.17],
    'previous_default': [0, 1, 0, 1, 0, 0, 1, 0, 0, 1],
    'employment_length': [2, 5, 10, 3, 8, 6, 4, 9, 7, 11]
})

# Ajoutons une colonne cible pour l'exemple, en supposant que les valeurs sont disponibles
# Pour l'exemple, générons des labels aléatoires (dans une situation réelle, cette colonne serait fournie)
np.random.seed(0) # Pour la reproductibilité
data['credit_approved'] = np.random.randint(0, 2, size=len(data))

# Séparation des données en ensembles d'entraînement et de test
X = data[['age', 'income', 'debt_to_income', 'previous_default', 'employment_length']]
y = data['credit_approved']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Normalisation des features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Entraînement d'un modèle de régression logistique
model = LogisticRegression(random_state=42)
model.fit(X_train_scaled, y_train)

# Prédiction sur l'ensemble de test
y_pred = model.predict(X_test_scaled)

# Évaluation avec une matrice de confusion
cm = confusion_matrix(y_test, y_pred)
print("Matrice de confusion : \n", cm)

# Fonction de coût personnalisée pour pénaliser les faux positifs plus sévèrement
def custom_loss(y_true, y_pred):
    cm = confusion_matrix(y_true, y_pred)
    # Supposons que le coût d'un FP est 5 fois celui d'un FN
    return cm[0, 1] * 5 + cm[1, 0]

# Score personnalisé pour la recherche d'hyperparamètres
custom_scorer = make_scorer(custom_loss, greater_is_better=False)

# Optimisation des hyperparamètres avec pénalisation des FP
parameters = {'C': np.logspace(-4, 4, 20)}
clf = GridSearchCV(model, parameters, cv=5, scoring=custom_scorer)
clf.fit(X_train_scaled, y_train)

# Meilleur modèle
best_model = clf.best_estimator_
print("Meilleur modèle : ", best_model)

# Prédiction et évaluation du meilleur modèle
y_pred_best = best_model.predict(X_test_scaled)
cm_best = confusion_matrix(y_test, y_pred_best)
print("Matrice de confusion du meilleur modèle : \n", cm_best)

In [ ]:
# Afficher l'importance des features pour la régression logistique
feature_importance = pd.DataFrame(data = {
    'Feature': X.columns,
    'Importance': model.coef_[0]
}).sort_values(by='Importance', ascending=False)

print(feature_importance)